.AuthorLib {
    border-color: #282c34;
    border-width: 1;
    padding: 10;
    margin-bottom: 5;
    border-radius: 5;
}

h2 {
    margin: 30px;
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
}

.Paragraph {
    font-style: italic;
}